@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');

body{
    background-image: url(https://i.pinimg.com/originals/93/5a/79/935a799f84786663734bb098313dc29c.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1{
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.conteiner{
    flex-wrap: wrap;
    margin-top: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.caixa{
    padding-bottom: 20px;
    background-color: rgba(104, 102, 102, 0.758);
    width: 600px;
    border-radius: 20px;
}

a{
    background-color: black;
    text-decoration: none;
    font-size: x-large;
    color: red;
    pointer-events: painted;
}

a:hover{
    background-color: yellow;
    color: blue;
}