img {
    width: 120px;
    height: 120px;
}

.circle{
    border-radius: 50%;
}

.cat{
    border: 5px solid greenyellow;
}

.horse{
    border: 5px solid rgb(196, 19, 19);
}

.camel{
    border: 5px solid rgb(9, 72, 245);
    order: -1;
}

.animals{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    }