img {
    width: 120px;
    height: 120px;
}

.circle{
    border-radius: 50%;
}

.cat{
    border: 5px solid greenyellow;
}

.horse{
    border: 5px solid rgb(196, 19, 19);
}

.camel{
    border: 5px solid rgb(9, 72, 245);
    order: -1;
}

.animals{
    width: 50%;
    display: flex;
    height: 97vh;
    
    flex-wrap: wrap;
    align-content: flex-start;
}